@charset "utf-8";

@font-face {
    font-family: 'BigNoodleTitlingCyr';
    src: url('fonts/BigNoodleTitlingCyr.woff2') format('woff2'),
        url('fonts/BigNoodleTitlingCyr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura No2 D Demi';
    src: url('fonts/FuturaNo2D-DemiBold.woff2') format('woff2'),
        url('fonts/FuturaNo2D-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

html, body {
	background-color: transparent;
	margin:0; 
	overflow-x: hidden;		
	overflow-y: hidden;
	height: 100%;
}

a {
	color:#67CE00; 
}

.mess {	
	background: transparent;
	margin: 5px 0 0;
	padding: 0;
}

#chat-wrapper {
   position: relative;
   overflow: auto;
   height: 100%;
}

#content, #chat-wrapper {
   overflow: hidden;
   box-sizing: border-box;
}

#block-header {
	background: transparent url(images/block_header_bg.png) top left no-repeat;
	height: 27px;
	max-width: 750px;
	color: #fff;
	font-size: 20px;
	font-family: 'BigNoodleTitlingCyr';
	padding: 11px 10px 10px 53px;
	margin: 0;
	text-shadow:0px 0px 10px rgba(255,255,255,0.7);
}

#block-message {
	max-width: 740px;
	background: transparent url(images/block_message_bg.png) repeat-y;
	margin: 0 0 0 3px;
	padding: 0 5px 7px 31px;
	color: #fff;
	font-size: 16px;
	font-family: 'Futura No2 D Demi';
	//outline: 1px solid red;
}

#block-site {
	position: absolute;
	top: 15px;
	left: 13px;
	overflow: hidden;
}

#block-header-left {
	background: transparent url(images/block_header_bg_left.png) top right no-repeat;
	height: 27px;
	max-width: 750px;
	color: #fff;
	font-size: 20px;
	font-family: 'BigNoodleTitlingCyr';
	padding: 11px 10px 10px 10px;
	margin: 0;
	text-shadow:0px 0px 10px rgba(255,255,255,0.7);
}

#block-message-left {
	max-width: 740px;
	background: transparent url(images/block_message_bg_left.png) repeat-y top right;
	padding: 0 5px 7px 10px;
	color: #fff;
	font-size: 16px;
	font-family: 'Futura No2 D Demi';
}

#block-site-left {
	position: absolute;
	top: 15px;
	right: 13px;
	overflow: hidden;
}